<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Dome1 第一天的作业.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC1F157B1C530C6D007F79E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC1F15941C530C6D007F79E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC1F159F1C530C6D007F79E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
